<div class="log-in-image">
	<div class="content">
		<h1>Log-In</h1>

		<div class="form-wrapper2">
			<div class="form1">
			  <%= form_tag '/login', :class => 'field form1' do %>
			    <%= label_tag(:email,"Email:") %>
			    <%= text_field_tag :email %>
			    <%= label_tag(:password, "Password:") %>
			    <%= password_field_tag :password %>
			    <div class="log-in-button-container">
			    	<%= submit_tag("Log In", class: "log-in-button" ) %>
			    </div>
			  <% end %>
			</div>
		</div>

	</div>
</div>
