<p id="notice"><%= notice %></p>
<div class="student-container">
  <h1>All Students</h1>
  <div class="student-table">
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Street address</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><a href="mailto:<%= student.email %>?Subject=Hello%20From%20GA" target="_top"><%= student.email %></a></td>
            <td><%= student.phone_number %></td>
            <td><%= student.street_address %></td>
            <td><%= student.city %></td>
            <td><%= student.state %></td>
            <td><%= student.country %></td>
            <td><%= link_to 'Show', student %></td>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
            <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
        <%= link_to 'New Student', new_student_path, :class => "New-Student-Button" %>
  </div>
</div>

<br>

