<!-- <p id="notice"><%= notice %></p> -->
  <div class="user-container2">
    <h3>
      <%= @student.first_name %> <%= @student.last_name %>
    </h3>

    <h4>
      <a href="mailto:<%= @student.email %>?Subject=Hello%20From%20GA" target="_top"><%= @student.email %></a>
  
    </h4>

    <h5>
      <%= @student.phone_number %>
    </h5>
      <p>
        <%= @student.street_address %>
        <%= @student.city %>, <%= @student.state %> <%= @student.country %>
      </p>
      <h3><%= @student.first_name %>'s Applications</h3>
      <div class="center-course">
          <% @applications.each do |application| %>
            <p><a href="/courses/<%= application.course_id %>/applications/<%= application.id %>"> <%= application.course.name %></a></p>
          <% end %>
      </div>

      <%= link_to 'Edit', edit_student_path(@student) %>
  </div>


