<%= form_for @application, url: course_application_path(@application.course, @application), method: :patch do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.type == "Instructor" || current_user.type == "Officer" %>
    <div class="text-contain">
      <div class="question-text-app-container">
        <%= f.label :notes %><br>
        <%= f.text_area :notes, class: 'question-text-app' %>
      </div>
      <br>
    </div>
  <% end %>


  <br>
  <% if current_user.type == "Student" %>
    <div class="field">
      <%= f.label :text_file %><br>
      <%= f.file_field :text_file %>
    </div>
    <p>For your application materials, we'll gladly accept files ending in .doc, .docx, .pdf, .rtf, and .txt.</p>
    <br>
  <% end %>
  <div class="actions">
    <%= f.submit 'Update Application', class: "button" %>
  </div>

<% end %>

