<%= form_for @application, url: course_application_path(@application.course, @application), html: {method: "update"} do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.type == "Instructor" || current_user.type == "Officer" %>
    <div class="text-contain">
      <div class="question-text-app-contain">
        <%= f.label :notes %><br>
        <%= f.text_area :notes, class: 'question-text-app' %>
      </div>
      <br>
    </div>
  <% end %>

  <div>
    <div class="drop-down">
      <%= f.select :status_id, [
        ['Rejected', 1], 
        ['Application Submitted', 2],
        ['Phone Interview Scheduled', 3],
        ['Phone Interview Completed', 4],
        ['Phone Interview Passed', 5],
        ['In Person Interview Scheduled', 6],
        ['In Person Interview Completed', 7],
        ['Accepted', 8]
      ]%>
      </div>
  </div>
  
  <br>
  <% if current_user.type == "Student" %>
    <div class="field">
      <%= f.label :text_file %><br>
      <%= f.file_field :text_file %>
    </div>
    <p>For your application materials, we'll gladly accept files ending in .doc, .docx, .pdf, .rtf, and .txt.</p>
    <br>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

