<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.type == "Instructor" || current_user.type == "Officer" %>
    <div class="question-field-container">
      <div class="question-text">
          <%= f.label :notes %><br>
          <%= f.text_area :notes  %>
      </div>
    </div>

  <% end %>

  <br>
  <div class="field">
    <div class="status-app">
      <%= f.label :status_id %><br>
      <%= f.text_field :status_id %>
    </div>
  </div>
  <br>
  <div class="text-upload">
    <div class="text-upload-center">
      <%= f.label :text_file %><br>
      <%= f.file_field :text_file %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>


  <input type="hidden" name="[application]student_id" value="<%= @student_id %>">
  <input type="hidden" name="[application]course_id" value="<%= @course_id %>">

<% end %>

