<%= form_for @application, url: course_applications_path(@course) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
    <div class="text-upload">
      <div class="text-upload-center">
        <%= f.file_field :text_file %>
      </div>
    </div>
    <div class="p-center">
      <p>For your application materials, we'll gladly accept files ending in .doc, .docx, .pdf, .rtf, and .txt.</p>
    </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>

  <input type="hidden" name="[application]status_id" value="2">
  <input type="hidden" name="[application]student_id" value="<%= @student_id %>">
  <input type="hidden" name="[application]course_id" value="<%= @course_id %>">

<% end %>

