<p id="notice"><%= notice %></p>

<% if current_user.type == "Instructor" || current_user.type == "Officer" %>
  <p>
    <strong>Notes:</strong>
    <%= @application.notes %>
  </p>
<% end %>

<p>
  <strong>Student:</strong>
  <%= @application.student %>
</p>

<p>
  <strong>Course:</strong>
  <%= @application.course %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
