<p id="notice"><%= notice %></p>
<div class="app-wrap">
  <div class="app-table">
    <% if current_user.type == "Instructor" || current_user.type == "Officer" %>
      <p class="app-notes">
        <strong></strong>
        <%= @application.notes %>
      </p>
      <% if current_user.type == "Instructor" && @application.status_id >= 3 %>
        <%= link_to "Conduct Instructor Interview", course_application_questionnaire_path(@application.course, @application, @application.instructor_questionnaire) %>
      <% elsif current_user.type == "Officer" && @application.status_id <= 3 %>
        <%= link_to "Conduct Admissions Officer Interview", course_application_questionnaire_path(@application.course, @application, @application.officer_questionnaire) %>
      <% end %>
    <% end %>

<% if current_user.type == "Instructor" || current_user.type == "Officer" %>
  <p>
    <strong>Notes:</strong>
    <%= @application.notes %>
  </p>
<% end %>
<br>
<p>
  <strong>Student:</strong>
  <a href="/students/<%= @application.student.id %>"> <%= @application.student.full_name %></a>
</p>
<br>
<p>
  <strong>Course:</strong>
    <a href="/courses/<%= @application.course.id %>"> <%= @application.course.name %> </a>
</p>
<br>
<p>
  <strong>Status:</strong>
  <%= @application.status.name %>
</p>
<br>
<p>
  <strong>Text File:</strong>
  <a href="<%= @application.text_file.url %>"><%= @application.text_file.url %></a>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>

