<p id="notice"><%= notice %></p>
<div class="app-wrap">
  <div class="app-table">
    <% if current_user.type == "Instructor" || current_user.type == "Officer" %>
      <p class="app-notes">
        <strong></strong>
        <%= @application.notes %>
      </p>
      <p>
      <% if current_user.type == "Officer" %>
        <% if @application.officer_interview_pending? %>

          <%= form_for @application, url: course_application_path(@application.course, @application), html: {method: "update"} do |f| %>
            <input type="hidden" name="[application]status_id" value="3">
            <%=f.submit "Officer Interview Scheduled" %>
          <% end %>

        <% elsif @application.officer_interview_scheduled? %>
          <%= link_to "Conduct Admissions Officer Interview", course_application_questionnaire_path(@application.course, @application, @application.officer_questionnaire) %>
        <% end %>
    
      <% elsif current_user.type == "Instructor" %>
        <% if @application.instructor_interview_pending? %>

          <%= form_for @application, url: course_application_path(@application.course, @application), html: {method: "update"} do |f| %>
            <input type="hidden" name="[application]status_id" value="6">
            <%=f.submit "Instructor Interview Scheduled" %>
          <% end %>

        <% elsif @application.instructor_interview_scheduled? %>
          <%= link_to "Conduct Instructor Interview", course_application_questionnaire_path(@application.course, @application, @application.instructor_questionnaire) %>
        <% end %>
      <% end %>

      <% if @application.completed_officer_interview? %>
        <p><%= link_to "Review Admissions Officer Interview", review_path(@application.course, @application, "officer") %></p>
      <% end %>

      <% if @application.completed_instructor_interview? %>
        <p><%= link_to "Review Instructor Interview", review_path(@application.course, @application, "instructor") %></p>
      <% end %>

    <% end %>
<br>
<p>
  <strong>Student:</strong>
  <a href="/students/<%= @application.student.id %>"> <%= @application.student.full_name %></a>
</p>
<br>
<p>
  <strong>Course:</strong>
    <a href="/courses/<%= @application.course.id %>"> <%= @application.course.name %> </a>
</p>
<br>
<p>
  <strong>Status:</strong>
  <%= @application.status.name %>
</p>
<br>
<p>
  <strong>Text File:</strong>
  <a href="<%= @application.text_file.url %>"><%= @application.text_file.url %></a>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>