
<div class="question-container">
	<h1><%= @questionnaire.questionnaire_type %> Questionnaire for <%= link_to @questionnaire.course.name, @questionnaire.course %></h1>
	<div class="questions grid-full" data-questionnaire-id=<%= @questionnaire.id %>>
	  <% @questionnaire.questions.each do |question| %>
	    <div data-question-id=<%= question.id %>>
	      <p><%= question.content %></p>
	      <textarea class="question-text-edit" hidden><%= question.content %></textarea>
	      <button class="edit question">Edit Question</button>
	      <button class="update question" hidden>Update Question</button>
	      <button class="delete question">Remove</button>
	    </div>
	  <% end %>
	</div>
	<div class="question-text">
		<textarea class="new-text"></textarea>
	</div>
	<div class="new-question-button">
		<button class="new question" data-questionnaire-id="<%= @questionnaire.id %>">New question</button>
	</div>
</div>
