<h1>Reviewing <%= @type %>  interview for <%= @application.student.full_name %> for <%= link_to @application.course.name, @application.course %></h1>

<div class="answers">
  <% @answers.each do |answer| %>
    <div class="answer">
      <p><%= answer.question.content %></p>
      <p><%= answer.content %></p>
    </div> <!-- .answer -->
  <% end %>

</div> <!-- .answers -->