<div class="question-container">
	<h1>Reviewing <%= @type %>  interview for <%= @application.student.full_name %> for <%= link_to @application.course.name, @application.course %></h1>

	<div class="answers">
	  <% @answers.each do |answer| %>
	    <div class="answer">
	      <p class="question-head"><%= answer.question.content %></p>
	      <p><%= answer.content %></p>
	    </div> <!-- .answer -->
	  <% end %>

	</div> <!-- .answers -->

  <% if @application.status_id == 4 || @application.status_id == 7 %>
    <div class="buttons">
      <% if @type == "officer" && @application.status_id == 4 %>
        <%= form_for @application, url: course_application_path(@application.course, @application), method: :patch do |f| %>
          <input type="hidden" name="[application]status_id" value="5">
          <%=f.submit "Officer Interview Passed", class: "button" %>
        <% end %>
      <% elsif @type == "instructor" && @application.status_id == 7 %>
        <%= form_for @application, url: course_application_path(@application.course, @application), method: :patch do |f| %>
          <input type="hidden" name="[application]status_id" value="8">
          <%=f.submit "Instructor Interview Passed", class: "button" %>
        <% end %>
      <% end %>
      <%= form_for @application, url: course_application_path(@application.course, @application), method: :patch do |f| %>
        <input type="hidden" name="[application]status_id" value="1">
        <%=f.submit "Reject", class: "button" %>
      <% end %>    
    </div>
  <% end %>