<p id="notice"><%= notice %></p>
<div class="course-wrapper"> 
  <div class="course-container">
    <h1><%= @course.name %></h1>
    <ul>  
      <li>Starts:
        <%= @course.start_on %> Ends: <%= @course.end_on %>
      </li>
      <li>Description
        <%= @course.description %>
      </li>
      <li>City:
        <%= @course.city %>
      </li>
    </ul>

    <% if @current_user %>
      <% if @current_user.type == "Instructor" || @current_user.type == "Officer" %>
        <ul>
        <h3>Students:</h3>
        <% @course.applications.each do |app| %>
          <li><%= link_to app.student.first_name, app %></li> 
        <% end %>
        </ul>
        <div class="new-course-link edit"><%= link_to 'Edit', edit_course_path(@course) %></div>

      <% else %>
        
        <li><%= link_to 'Application', new_course_application_path(@course) %></li>
      <% end %>
    <% end %>
    <div class="new-course-link back" ><%= link_to 'Back', courses_path %></div>
  </div>
</div>  

