<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @course.start_on %>
</p>

<p>
  <strong>End on:</strong>
  <%= @course.end_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @course.city %>
</p>

<% if @current_user %>
  <% if @current_user.type == "Instructor" || @current_user.type == "Officer" %>
    <%= link_to 'Edit', edit_course_path(@course) %> 
  <% else %>
    <%= link_to 'Application', new_course_application_path(@course) %>
  <% end %>
<% end %>
<%= link_to 'Back', courses_path %>
