<p id="notice"><%= notice %></p>
<div class="course-wrapper"> 
  <div class="course-container">
    <h1><%= @course.name %></h1>
    <ul>  
      <li>Starts: 
        <%= @course.start_on %>
      </li>
      <li>Ends:
        <%= @course.end_on %>
      </li>
      <li>Description: 
        <p> <%= @course.description %> </p>
      </li>
      <li>City:
        <%= @course.city %>
      </li>
    </ul>

    <% if @current_user %>
      <% if @current_user.type == "Instructor" || @current_user.type == "Officer" %>
        <ul>
        <h3>Students:</h3>
        <% @course.applications.each do |app| %>
          <li><%= link_to app.student.first_name, app %></li> 
        <% end %>
        </ul>
        <div class="new-course-link edit"><%= link_to 'Edit', edit_course_path(@course) %></div>

      <% else %>
        
        <div class="new-course-link app"> <%= link_to 'Apply Now', new_course_application_path(@course) %></div>
      <% end %>
    <% end %>
  </div>
</div>  

