<!DOCTYPE html>
<html>
<head>
  <title>AdmissionsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="wrapper">
	    <nav class="grid-full">
		    <div class="logo grid-6-20">
		        <a href="/"><img src="/nav_logo.png" alt=""></a>
		    </div>
		    <ul class="nav-links grid-6-20">
		        <li><a href="/courses">Courses</a></li>
		        <% if @current_user %>
		        <li><%= link_to "Log Out", logout_url, method: :delete %></li>
		        <% else %> 
		        <li><a href="/login">Login</a></li>
		        <% end %>
		        <li><a href="/signup">Sign Up</a></li>
		     </ul>
		     
	    </nav>
<%= yield %>

 </div>
</body>
</html>
